.sdfok2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-align: center;
    padding-top: 130px;
} 
.sdfok2 p{
    color: black;
}










