#dsaqmohamesaa{
    margin-top: 90px;
}

#dsdahshokdssjd p{ 
    color: black;
}
#sliderdrugg{
    padding:10px 10px 0 ; 
    border-radius: 15px;
    background: #E2E8F0;
    width: 100%; 
}
#dffdh23o{
    height: 100%;
    width: 76%;
} 

@media (max-width:290px) {
    #dffdh23o{
        height: 100px!important;
    } 
}




